<!DOCTYPE html>
<html>
{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>TITLE</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
            <div class="inner">
                <h1 class="cover-heading">Сообщения из космоса</h1>
            </div>
            <div class="container">
                <ul class="list-group">
                    <itemlist id="app0"
                              :item="item"
                              :on-click-button="onClickButton">
                    </itemlist>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>